/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.siteTitle {
  float:left;
  margin-bottom:10px;
}

.wcNav { 
  margin-top: 50px !important; 
}

.wcPageOutput {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

/*.wcCarousel {
  color:black; 
  display: inline; 
  list-style-type: none;
  margin-left:40%;
}

.wcCarousel li {
  border: 3px solid black; 
  width:10px; 
  padding:5px;
  margin-right:5px;
  float: left;
}

.wcCarouselActive {
  width:5px; height:5px;
  background-color: #add836;
}*/